header{
    margin-bottom: 60px;
}

.one-thing img{
    border-radius: 0;
}

a.disable-link {
	pointer-events: none;
	cursor: default;
    text-decoration: none;
    color: #222529;;
}

#telephoneNumber:hover{
  cursor: pointer;
}

input[type=text], 
#chooseEmail,
#cars,
input[type=password], 
input[type=password-repeat],
input[type=tel], 
input[type=date],
#gender,
#writing-text{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fff;
}

#email, #chooseEmail{
    width: 49.5%; 
    display: inline;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.submitbtn {
  background-color: #222529;
  color: #a4abab;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
}


.submitbtn:hover {
  transform: scale(1.01);
  opacity:1;
  font-weight: 700;
  color: #fff;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}